{
  "openapi": "3.0.4",
  "servers": [
    {
      "url": "https://api.centrobill.com",
      "description": "LIVE endpoint"
    },
    {
      "url": "https://stage.api.centrobill.com",
      "description": "STAGE endpoint"
    }
  ],
  "info": {
    "description": "Centrobill API\n\n The HTTP headers are used to pass additional information between the clients and the server through the request and response header.\nCertain request customization requires setting HTTP headers.\n`Content-Type` and `Accept` headers control input and output format.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "version": "1.1.37",
    "title": "Centrobill Payment API"
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "x-tagGroups": [
    {
      "name": "Server-to-server",
      "tags": [
        "Payment",
        "Payout",
        "Subscription",
        "Site",
        "Product",
        "Consumer",
        "Service",
        "Verification",
        "Currency exchange rates"
      ]
    },
    {
      "name": "Hosted payment page",
      "tags": [
        "Payment page"
      ]
    }
  ],
  "paths": {
    "/tokenize": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Generate card data token",
        "operationId": "generateCardDataToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tokenize"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tokenize-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/payment": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Pay",
        "operationId": "pay",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        },
        "callbacks": {
          "paymentEvent": {
            "{$request.body.url.ipnUrl}": {
              "summary": "Payment status callback",
              "post": {
                "summary": "Payment status callback",
                "operationId": "paymentStatusCallback",
                "requestBody": {
                  "$ref": "#/components/requestBodies/payment-callback"
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code\nif the data was received successfully\n"
                  },
                  "201": {
                    "description": "Your server implementation should return this HTTP status code\nif the data was received successfully\n"
                  },
                  "202": {
                    "description": "Your server implementation should return this HTTP status code\nif the data was received successfully\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/paymentPage": {
      "post": {
        "tags": [
          "Payment page"
        ],
        "summary": "Create URL to payment page",
        "operationId": "generateUrlToPaymentPage",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payment-page"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment-page-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        },
        "callbacks": {
          "paymentEvent": {
            "{$request.body.url.ipnUrl}": {
              "summary": "Payment status callback",
              "post": {
                "summary": "Payment status callback",
                "operationId": "paymentStatusCallback",
                "requestBody": {
                  "$ref": "#/components/requestBodies/payment-callback"
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code\nif the data was received successfully\n"
                  },
                  "201": {
                    "description": "Your server implementation should return this HTTP status code\nif the data was received successfully\n"
                  },
                  "202": {
                    "description": "Your server implementation should return this HTTP status code\nif the data was received successfully\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment/{id}/credit": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Credit",
        "operationId": "credit",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/credit-id"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/credit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credit-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/payout": {
      "post": {
        "tags": [
          "Payout"
        ],
        "summary": "Payout",
        "operationId": "payout",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payout-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/{id}": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "summary": "Get subscription",
        "operationId": "getSubscription",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/subscription-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-not-found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Subscription"
        ],
        "summary": "Change subscription recurrent plan",
        "operationId": "changeSubscription",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/subscription-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription-3"
              },
              "required": [
                "price"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-not-found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/{id}/cancel": {
      "put": {
        "tags": [
          "Subscription"
        ],
        "summary": "Cancel subscription",
        "operationId": "cancelSubscription",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscription-id"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription-cancel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-not-found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/{id}/recover": {
      "put": {
        "tags": [
          "Subscription"
        ],
        "summary": "Recover already canceled subscription",
        "operationId": "recoverSubscription",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscription-id"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-not-found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/site": {
      "post": {
        "tags": [
          "Site"
        ],
        "summary": "Create site",
        "operationId": "createSite",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/site",
                "required": [
                  "name",
                  "ipnUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/site-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/site/{id}": {
      "get": {
        "tags": [
          "Site"
        ],
        "summary": "Get site",
        "operationId": "getSite",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/id"
            }
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/site-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Site"
        ],
        "summary": "Update site",
        "operationId": "updateSite",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/id"
            }
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/site"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/site-2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/sku": {
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Create product (SKU)",
        "operationId": "createProduct",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sku",
                "required": [
                  "title",
                  "siteId",
                  "type",
                  "price"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "title": "Object to represent SKU",
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "./entities/sku/name.yml"
                  },
                  "siteId": {
                    "$ref": "./entities/site/id.yml"
                  },
                  "externalId": {
                    "$ref": "./entities/site/external-id.yml"
                  },
                  "title": {
                    "$ref": "./entities/sku/title.yml"
                  },
                  "type": {
                    "$ref": "./entities/sku/type.yml"
                  },
                  "price": {
                    "title": "Price",
                    "oneOf": [
                      {
                        "$ref": "../schemas/entities/amount.yml",
                        "title": "Amount of product"
                      },
                      {
                        "type": "array",
                        "items": {
                          "$ref": "../schemas/entities/price.yml"
                        }
                      }
                    ]
                  },
                  "currency": {
                    "$ref": "../schemas/entities/currency.yml"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Date of product create",
                    "example": "2020-04-17 13:43:02"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Date of product last update",
                    "example": "2020-11-17 13:43:02"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/sku/{name}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get product (SKU)",
        "operationId": "getProduct",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/name"
            }
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "title": "Object to represent SKU",
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "./entities/sku/name.yml"
                  },
                  "siteId": {
                    "$ref": "./entities/site/id.yml"
                  },
                  "externalId": {
                    "$ref": "./entities/site/external-id.yml"
                  },
                  "title": {
                    "$ref": "./entities/sku/title.yml"
                  },
                  "type": {
                    "$ref": "./entities/sku/type.yml"
                  },
                  "price": {
                    "title": "Price",
                    "oneOf": [
                      {
                        "$ref": "../schemas/entities/amount.yml",
                        "title": "Amount of product"
                      },
                      {
                        "type": "array",
                        "items": {
                          "$ref": "../schemas/entities/price.yml"
                        }
                      }
                    ]
                  },
                  "currency": {
                    "$ref": "../schemas/entities/currency.yml"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Date of product create",
                    "example": "2020-04-17 13:43:02"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Date of product last update",
                    "example": "2020-11-17 13:43:02"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Update product (SKU)",
        "operationId": "updateProduct",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/name"
            }
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sku"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "title": "Object to represent SKU",
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "./entities/sku/name.yml"
                  },
                  "siteId": {
                    "$ref": "./entities/site/id.yml"
                  },
                  "externalId": {
                    "$ref": "./entities/site/external-id.yml"
                  },
                  "title": {
                    "$ref": "./entities/sku/title.yml"
                  },
                  "type": {
                    "$ref": "./entities/sku/type.yml"
                  },
                  "price": {
                    "title": "Price",
                    "oneOf": [
                      {
                        "$ref": "../schemas/entities/amount.yml",
                        "title": "Amount of product"
                      },
                      {
                        "type": "array",
                        "items": {
                          "$ref": "../schemas/entities/price.yml"
                        }
                      }
                    ]
                  },
                  "currency": {
                    "$ref": "../schemas/entities/currency.yml"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Date of product create",
                    "example": "2020-04-17 13:43:02"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Date of product last update",
                    "example": "2020-11-17 13:43:02"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/consumer": {
      "post": {
        "tags": [
          "Consumer"
        ],
        "summary": "Create consumer (user)",
        "operationId": "createConsumer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/consumer-3"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/consumer-4"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/consumer/{id}": {
      "get": {
        "tags": [
          "Consumer"
        ],
        "summary": "Get consumer (user)",
        "operationId": "getConsumer",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/id-2"
            }
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/consumer-4"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Consumer"
        ],
        "summary": "Change group of consumer (user)",
        "operationId": "changeConsumerGroup",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/id-2"
            }
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "$ref": "#/components/schemas/group-id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/consumer-4"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/ips": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Get the list of IP addresses that requests may come from",
        "operationId": "getListOfExternalIps",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ips"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/testPaymentData/{id}": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Get test payment data by ID",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/test-payment-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/test-payment-data"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-not-found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/testPaymentData?": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Get list of the test payment data",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Per page limit"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            },
            "description": "Type of the test payment data"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/test-payment-data-array"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/testPaymentData/{id}/balance": {
      "put": {
        "tags": [
          "Service"
        ],
        "summary": "Update balance of the test payment data",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-balance-test-payment-data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/test-payment-data"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/testPaymentData": {
      "post": {
        "tags": [
          "Service"
        ],
        "summary": "Create test payment details",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-test-data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/test-payment-data"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Service"
        ],
        "summary": "Delete test payment data",
        "security": [],
        "responses": {
          "201": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/testPaymentData/{id}/block": {
      "post": {
        "tags": [
          "Service"
        ],
        "summary": "Block test payment data",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/test-payment-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/test-payment-data"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-not-found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/testPaymentData/{id}/unblock": {
      "post": {
        "tags": [
          "Service"
        ],
        "summary": "Unblock test payment data",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/test-payment-data"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/testPaymentData/{id}/emulate3ds": {
      "post": {
        "tags": [
          "Service"
        ],
        "summary": "Emulate 3Ds for the test payment data",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/test-payment-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/emulate-3Ds-test-payment-data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-not-found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/testPaymentData/{id}/notEmulate3ds": {
      "post": {
        "tags": [
          "Service"
        ],
        "summary": "Not emulate 3Ds for the test payment data",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/emulate-3Ds-test-payment-data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/antifraud/verification/{phone}": {
      "get": {
        "tags": [
          "Verification"
        ],
        "summary": "Get available channels of code verification",
        "operationId": "getAvailableChannelsOfCodeVerification",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/phone"
            }
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/verification-channels"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/antifraud/verification/{channel}/send": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Send message with verification code",
        "operationId": "sendMessageWithVerificationCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/verification-channel"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "$ref": "#/components/schemas/phone"
                  },
                  "from": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 16,
                    "example": "Centrobill"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/antifraud/verification/{phone}/{code}": {
      "get": {
        "tags": [
          "Verification"
        ],
        "summary": "Check verification code",
        "operationId": "checkVerificationCode",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/phone"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/verification-code"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Code is valid"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/currency-exchange-rate": {
      "get": {
        "tags": [
          "Currency exchange rates"
        ],
        "summary": "Get list of currency exchange rates",
        "operationId": "getCurrencyExchangeRates",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/currency-rate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    },
    "/currency-exchange-rate/{iso3}": {
      "get": {
        "tags": [
          "Currency exchange rates"
        ],
        "summary": "Get exchange rate by iso3",
        "operationId": "getExchangeRateByIso3",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/currency-rate"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-bad-request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-server-internal"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "parameters": {
      "x-request-id": {
        "name": "X-Request-ID",
        "in": "header",
        "description": "Unique ID of request",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "credit-id": {
        "name": "id",
        "in": "path",
        "description": "Transaction that should be credited",
        "schema": {
          "type": "string"
        },
        "required": true
      },
      "subscription-id": {
        "in": "path",
        "name": "id",
        "schema": {
          "$ref": "#/components/schemas/id-4"
        },
        "required": true,
        "description": "Subscription ID"
      },
      "test-payment-id": {
        "in": "path",
        "name": "id",
        "required": true,
        "description": "Test payment data ID"
      },
      "verification-channel": {
        "name": "channel",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Channel of message",
        "required": true
      },
      "verification-code": {
        "name": "code",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Verification code",
        "required": true
      }
    },
    "schemas": {
      "number": {
        "title": "Card number",
        "type": "string",
        "minLength": 12,
        "maxLength": 19
      },
      "expiration-year": {
        "title": "Card expiration year",
        "type": "string",
        "minLength": 2,
        "maxLength": 2
      },
      "expiration-month": {
        "title": "Card expiration month",
        "type": "string",
        "minLength": 2,
        "maxLength": 2
      },
      "cvv": {
        "title": "Card secure code",
        "type": "string",
        "minLength": 3,
        "maxLength": 4
      },
      "holder": {
        "title": "Cardholder full name",
        "type": "string",
        "minLength": 1,
        "maxLength": 64,
        "example": "John Smith"
      },
      "zip-code": {
        "title": "Zip code",
        "type": "string",
        "minLength": 1,
        "maxLength": 16,
        "example": "36101"
      },
      "tokenize": {
        "title": "Payload of tokenize",
        "properties": {
          "number": {
            "$ref": "#/components/schemas/number"
          },
          "expirationYear": {
            "$ref": "#/components/schemas/expiration-year"
          },
          "expirationMonth": {
            "$ref": "#/components/schemas/expiration-month"
          },
          "cvv": {
            "$ref": "#/components/schemas/cvv"
          },
          "cardHolder": {
            "$ref": "#/components/schemas/holder"
          },
          "zip": {
            "$ref": "#/components/schemas/zip-code"
          }
        },
        "required": [
          "number",
          "expirationYear",
          "expirationMonth"
        ],
        "example": {
          "number": "4024007179366348",
          "expirationYear": "25",
          "expirationMonth": "12",
          "cvv": "009",
          "cardHolder": "John Smith",
          "zip": "14000"
        }
      },
      "tokenize-2": {
        "title": "Object to represent tokenize result",
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "format": "uuid",
            "title": "Unique token for payment details",
            "example": "d86bdcbb-c369-46d9-a9d0-9c5010e3bfdb"
          },
          "expireAt": {
            "type": "integer",
            "title": "Unixtimestamp when token expire",
            "example": 1611735028
          }
        }
      },
      "error-bad-request": {
        "title": "Object to represent error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "title": "Message of error",
            "default": "Bad Request"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "example": {
              "parameterName": "Parameter is invalid or missing"
            }
          }
        }
      },
      "error-unauthorized": {
        "title": "Object to represent error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "title": "Message of error",
            "default": "Unauthorized`"
          }
        }
      },
      "error-forbidden": {
        "title": "Object to represent error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "title": "Message of error",
            "default": "Forbidden"
          }
        }
      },
      "error-server-internal": {
        "title": "Object to represent error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "title": "Message of error",
            "default": "Internal server error"
          }
        }
      },
      "emulate-code": {
        "title": "Emulate transaction's decline code. For example, 5003 will throw \"Invalid merchant\" decline. See full declines list below in responses under payment object.",
        "type": "string",
        "minLength": 4,
        "maxLength": 6,
        "example": "5003"
      },
      "card": {
        "title": "Credit card",
        "type": "object",
        "required": [
          "type",
          "number",
          "expirationYear",
          "expirationMonth",
          "cvv"
        ],
        "properties": {
          "type": {
            "enum": [
              "card"
            ]
          },
          "number": {
            "$ref": "#/components/schemas/number"
          },
          "expirationYear": {
            "$ref": "#/components/schemas/expiration-year"
          },
          "expirationMonth": {
            "$ref": "#/components/schemas/expiration-month"
          },
          "cvv": {
            "type": "string",
            "$ref": "#/components/schemas/cvv"
          },
          "3ds": {
            "type": "boolean",
            "title": "Payment should be processed with 3D Secure. True by default"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "bic": {
        "title": "Business Identifier Code ISO-9362",
        "type": "string",
        "minLength": 8,
        "maxLength": 11
      },
      "sepa": {
        "title": "Sepa",
        "type": "object",
        "required": [
          "type",
          "iban"
        ],
        "properties": {
          "type": {
            "enum": [
              "sepa"
            ]
          },
          "iban": {
            "type": "string",
            "minLength": 5,
            "maxLength": 34,
            "title": "International bank account number ISO-13616"
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "sofortbanking": {
        "title": "Soforbanking",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "sofortbanking"
            ]
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "onlinebanking": {
        "title": "Onlinebanking",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "onlinebanking"
            ]
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "paysafecard": {
        "title": "Paysafecard",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "paysafecard"
            ]
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "giropay": {
        "title": "Giropay",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "giropay"
            ]
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "ideal": {
        "title": "Ideal",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "ideal"
            ]
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "pps": {
        "title": "PPS",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "pps"
            ]
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "gash": {
        "title": "Gash",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "gash"
            ]
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "przelewy24": {
        "title": "Przelewy24",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "przelewy24"
            ]
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "bancontact": {
        "title": "Bancontact",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "bancontact"
            ]
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "eps": {
        "title": "Eps",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "eps"
            ]
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "mybank": {
        "title": "Mybank",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "mybank"
            ]
          },
          "bic": {
            "$ref": "#/components/schemas/bic"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "consumer": {
        "title": "Consumer saved payment data",
        "type": "object",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "enum": [
              "consumer"
            ]
          },
          "value": {
            "type": "string",
            "minLength": 5,
            "maxLength": 36
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "payment-account-id-with-cvv": {
        "title": "Concrete payment account of customer with CVV number",
        "type": "object",
        "required": [
          "type",
          "paymentAccountId",
          "cvv"
        ],
        "properties": {
          "type": {
            "enum": [
              "paymentAccountIdWithCvv"
            ]
          },
          "paymentAccountId": {
            "type": "string",
            "format": "uuid",
            "example": "d86bdcbb-c369-46d9-a9d0-9c5010e3bfdb"
          },
          "cvv": {
            "type": "string",
            "minLength": 3,
            "maxLength": 4,
            "title": "Card secure code"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "payment-account-id": {
        "title": "Concrete payment account of customer",
        "paymentAccountId": null,
        "type": "object",
        "required": [
          "type",
          "paymentAccountId"
        ],
        "properties": {
          "type": {
            "enum": [
              "paymentAccountId"
            ]
          },
          "paymentAccountId": {
            "type": "string",
            "format": "uuid",
            "example": "d86bdcbb-c369-46d9-a9d0-9c5010e3bfdb"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "token": {
        "title": "Token of tokenized card data",
        "type": "object",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "enum": [
              "token"
            ]
          },
          "value": {
            "type": "string",
            "minLength": 5,
            "maxLength": 36
          },
          "3ds": {
            "type": "boolean",
            "title": "Payment should be processed with 3D Secure. True by default"
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "crypto": {
        "title": "Crypto",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "enum": [
              "crypto"
            ]
          },
          "emulateCode": {
            "$ref": "#/components/schemas/emulate-code"
          }
        }
      },
      "title": {
        "title": "Product name",
        "type": "string",
        "maxLength": 64
      },
      "id": {
        "title": "Centrobill's site id",
        "type": "string",
        "minLength": 5,
        "maxLength": 36,
        "example": "983759353"
      },
      "domain-name": {
        "title": "Domain name (without protocol)",
        "type": "string",
        "minLength": 5,
        "maxLength": 36,
        "example": "google.com",
        "description": "In case if property is passed site domain name will be replaced"
      },
      "offset": {
        "title": "Date offset in days",
        "type": "string",
        "maxLength": 5,
        "example": "5d"
      },
      "amount": {
        "title": "Amount of operation",
        "type": "number",
        "format": "double",
        "example": 9.99
      },
      "currency": {
        "title": "Currency (ISO 4217)",
        "type": "string",
        "format": "iso3",
        "example": "USD"
      },
      "price": {
        "title": "Price",
        "type": "object",
        "properties": {
          "offset": {
            "$ref": "#/components/schemas/offset"
          },
          "amount": {
            "$ref": "#/components/schemas/amount"
          },
          "currency": {
            "$ref": "#/components/schemas/currency"
          },
          "repeat": {
            "oneOf": [
              {
                "type": "boolean",
                "title": "Boolean flag of repeat",
                "description": "false - not repeat, true - repeat ever"
              },
              {
                "title": "Numeric count of repeat",
                "type": "integer",
                "description": "Count of repeats"
              }
            ]
          }
        }
      },
      "name": {
        "title": "Centrobill SKU",
        "type": "string",
        "minLength": 5,
        "maxLength": 36,
        "example": "TEST_EN"
      },
      "id-2": {
        "title": "Consumer ID",
        "type": "string",
        "minLength": 5,
        "maxLength": 36
      },
      "external-id": {
        "title": "Merchant consumer id",
        "type": "string",
        "minLength": 3,
        "maxLength": 36,
        "example": "14253ms92m0as"
      },
      "email": {
        "title": "Consumer email",
        "type": "string",
        "format": "email",
        "example": "jonny.sonny@google.com"
      },
      "first-name": {
        "title": "Consumer first name",
        "type": "string",
        "minLength": 1,
        "maxLength": 32
      },
      "last-name": {
        "title": "Consumer last name",
        "type": "string",
        "minLength": 1,
        "maxLength": 32
      },
      "phone": {
        "title": "Consumer's phone number",
        "type": "string",
        "minLength": 7,
        "maxLength": 16,
        "example": "+1987353539"
      },
      "country": {
        "title": "Consumer's country",
        "type": "string",
        "format": "iso3"
      },
      "state": {
        "title": "Consumer's state",
        "type": "string",
        "minLength": 1,
        "maxLength": 32
      },
      "city": {
        "title": "Consumer city",
        "type": "string",
        "minLength": 1,
        "maxLength": 50
      },
      "address": {
        "title": "Customer's address",
        "type": "string",
        "description": "Address",
        "maxLength": 64
      },
      "ip-address": {
        "title": "IP address",
        "type": "string",
        "minLength": 1,
        "maxLength": 16
      },
      "browser-user-agent": {
        "title": "Browser user-agent",
        "type": "string",
        "description": "Consumer's consumer agent",
        "maxLength": 255
      },
      "device-id": {
        "title": "Exodentity Device ID",
        "type": "string",
        "description": "Exodentity device ID",
        "maxLength": 1024
      },
      "browser-accept-header": {
        "title": "Browser accept header",
        "type": "string",
        "description": "Exact content of the HTTP accept headers as sent to the 3DS Requestor from the Cardholder's browser."
      },
      "browser-java-enabled": {
        "title": "Browser java enabled",
        "type": "boolean",
        "description": "Boolean that represents the ability of the cardholder browser to execute Java. Value is returned from the navigator.javaEnabled property."
      },
      "browser-language": {
        "title": "Browser language",
        "type": "string",
        "maxLength": 8,
        "description": "Value representing the browser language as defined in IETF BCP47. The value is limited to 1-8 characters. Value is returned from navigator.language property."
      },
      "browser-color-depth": {
        "title": "Browser color depth",
        "type": "integer",
        "description": "Value representing the bit depth of the colour palette for displaying images, in bits per pixel. Obtained from Cardholder browser using the screen.colorDepth property."
      },
      "browser-screen-height": {
        "title": "Browser screen height",
        "type": "integer",
        "description": "Total height of the Cardholder's screen in pixels. Value is returned from the screen.height property."
      },
      "browser-screen-width": {
        "title": "Browser screen width",
        "type": "integer",
        "description": "Total width of the Cardholder's screen in pixels. Value is returned from the screen.width property"
      },
      "browser-timezone": {
        "title": "Browser timezone",
        "type": "string",
        "description": "Time difference between UTC time and the Cardholder browser local time, in minutes. The field is limited to 1-5 characters where the value is returned from the getTimezoneOffset() method."
      },
      "ipn": {
        "title": "URL",
        "type": "string",
        "format": "url",
        "example": "https://google.com/centrobill/webhook/245252525252525",
        "description": "Callback Notification will be sent to this URL after purchase"
      },
      "redirect": {
        "title": "URL",
        "type": "string",
        "format": "url",
        "example": "https://google.com/oijhflsfs9",
        "description": "User will be redirect to this URL after purchase"
      },
      "metadata": {
        "title": "Metadata",
        "type": "object",
        "description": "Used for storing additional structured information associated with payment",
        "example": {
          "foo": "bar"
        }
      },
      "emailOptions": {
        "title": "Email Options",
        "type": "object",
        "example": {
          "send": true
        }
      },
      "payment": {
        "title": "Payload to create payment",
        "type": "object",
        "properties": {
          "paymentSource": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/card"
              },
              {
                "$ref": "#/components/schemas/sepa"
              },
              {
                "$ref": "#/components/schemas/sofortbanking"
              },
              {
                "$ref": "#/components/schemas/onlinebanking"
              },
              {
                "$ref": "#/components/schemas/paysafecard"
              },
              {
                "$ref": "#/components/schemas/giropay"
              },
              {
                "$ref": "#/components/schemas/ideal"
              },
              {
                "$ref": "#/components/schemas/pps"
              },
              {
                "$ref": "#/components/schemas/gash"
              },
              {
                "$ref": "#/components/schemas/przelewy24"
              },
              {
                "$ref": "#/components/schemas/bancontact"
              },
              {
                "$ref": "#/components/schemas/eps"
              },
              {
                "$ref": "#/components/schemas/mybank"
              },
              {
                "$ref": "#/components/schemas/consumer"
              },
              {
                "$ref": "#/components/schemas/payment-account-id-with-cvv"
              },
              {
                "$ref": "#/components/schemas/payment-account-id"
              },
              {
                "$ref": "#/components/schemas/token"
              },
              {
                "$ref": "#/components/schemas/crypto"
              }
            ]
          },
          "sku": {
            "type": "object",
            "oneOf": [
              {
                "title": "SKU object with site id",
                "type": "object",
                "properties": {
                  "title": {
                    "$ref": "#/components/schemas/title"
                  },
                  "siteId": {
                    "$ref": "#/components/schemas/id"
                  },
                  "domainName": {
                    "$ref": "#/components/schemas/domain-name"
                  },
                  "price": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/price"
                    }
                  }
                },
                "required": [
                  "siteId",
                  "price"
                ]
              },
              {
                "title": "SKU object with SKU name",
                "type": "object",
                "properties": {
                  "title": {
                    "$ref": "#/components/schemas/title"
                  },
                  "name": {
                    "$ref": "#/components/schemas/name"
                  }
                },
                "required": [
                  "name"
                ]
              },
              {
                "title": "SKU object with SKU name and custom prices",
                "type": "object",
                "properties": {
                  "title": {
                    "$ref": "#/components/schemas/title"
                  },
                  "name": {
                    "$ref": "#/components/schemas/name"
                  },
                  "price": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/price"
                    }
                  }
                },
                "required": [
                  "name",
                  "price"
                ]
              }
            ]
          },
          "consumer": {
            "type": "object",
            "required": [
              "ip"
            ],
            "properties": {
              "id": {
                "$ref": "#/components/schemas/id-2",
                "description": "Required in case if consumer.externalId or consumer.email are empty"
              },
              "externalId": {
                "$ref": "#/components/schemas/external-id",
                "description": "Required in case if consumer.id is empty"
              },
              "email": {
                "$ref": "#/components/schemas/email",
                "description": "Required in case if consumer.id is empty"
              },
              "firstName": {
                "$ref": "#/components/schemas/first-name",
                "description": "Required in case if paymentSource.type is not one of consumer, paymentAccountIdWithCvv, token"
              },
              "lastName": {
                "$ref": "#/components/schemas/last-name",
                "description": "Required in case if paymentSource.type is not one of consumer, paymentAccountIdWithCvv, token"
              },
              "phone": {
                "$ref": "#/components/schemas/phone"
              },
              "country": {
                "$ref": "#/components/schemas/country"
              },
              "state": {
                "$ref": "#/components/schemas/state"
              },
              "city": {
                "$ref": "#/components/schemas/city"
              },
              "address": {
                "$ref": "#/components/schemas/address"
              },
              "zip": {
                "$ref": "#/components/schemas/zip-code"
              },
              "ip": {
                "$ref": "#/components/schemas/ip-address"
              },
              "userAgent": {
                "$ref": "#/components/schemas/browser-user-agent"
              },
              "deviceId": {
                "$ref": "#/components/schemas/device-id"
              },
              "browserAcceptHeader": {
                "$ref": "#/components/schemas/browser-accept-header"
              },
              "browserJavaEnabled": {
                "$ref": "#/components/schemas/browser-java-enabled"
              },
              "browserLanguage": {
                "$ref": "#/components/schemas/browser-language"
              },
              "browserColorDepth": {
                "$ref": "#/components/schemas/browser-color-depth"
              },
              "browserScreenHeight": {
                "$ref": "#/components/schemas/browser-screen-height"
              },
              "browserScreenWidth": {
                "$ref": "#/components/schemas/browser-screen-width"
              },
              "browserTimezone": {
                "$ref": "#/components/schemas/browser-timezone"
              }
            }
          },
          "url": {
            "type": "object",
            "properties": {
              "ipnUrl": {
                "$ref": "#/components/schemas/ipn"
              },
              "redirectUrl": {
                "$ref": "#/components/schemas/redirect"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          },
          "emailOptions": {
            "$ref": "#/components/schemas/emailOptions"
          }
        },
        "required": [
          "paymentSource",
          "sku",
          "consumer"
        ],
        "example": {
          "paymentSource": {
            "type": "card",
            "number": "4024007179366348",
            "expirationMonth": "11",
            "expirationYear": "22",
            "cvv": "100",
            "3ds": false
          },
          "sku": {
            "title": "Product name",
            "siteId": "983759353",
            "price": [
              {
                "offset": "0d",
                "amount": 19.99,
                "currency": "USD",
                "repeat": false
              }
            ]
          },
          "consumer": {
            "id": "4242522",
            "email": "jonny.sonny@google.com",
            "firstName": "John",
            "lastName": "Doe",
            "phone": "+1987353539",
            "country": "USA",
            "state": "Alabama",
            "city": "Montgomery",
            "zip": "36101",
            "ip": "8.8.8.8",
            "userAgent": "mozilla/5.0 (iphone; cpu iphone os 13_1_2 like mac os x) applewebkit/605.1.15 (khtml, like gecko) version/13.0.1 mobile/15e148 safari/604.1",
            "deviceId": "1.1|hfp9sLiKhAoWyNSMpiQGh|mozilla/5.0 (windows nt 6.1) applewebkit/537.36 (khtml, like gecko) chrome/92.0.4515.131 safari/537.36|24#1344#840#799|internal-pdf-viewer#mhjfbmdgcfjbbpaeojofohoefgiehjai#internal-nacl-plugin|Win32|1g0u1g01u0u10r1u0x10g1y0g1d0g10g1010u101g0g1u01r0x10x101g01a010u101g01010u101r01z01ij01a0u1u01rd01r0r101ir01ii01aj01ux01ui01iy01y01ui0g1y01r01d0|MS|-1397920487|c39b35be"
          },
          "url": {
            "ipnUrl": "https://google.com/centrobill/webhook/245252525252525",
            "redirectUrl": "https://google.com/centrobill/redirect/245252525252525"
          },
          "metadata": {
            "foo": "bar"
          },
          "emailOptions": {
            "send": true
          }
        }
      },
      "code": {
        "title": "Payment code",
        "enum": [
          "0",
          "5000",
          "5001",
          "5003",
          "5004",
          "5005",
          "5006",
          "5007",
          "5010",
          "5012",
          "5013",
          "5014",
          "5015",
          "5016",
          "5019",
          "5030",
          "5041",
          "5043",
          "5046",
          "5051",
          "5054",
          "5055",
          "5057",
          "5058",
          "5059",
          "5061",
          "5062",
          "5063",
          "5065",
          "5070",
          "5075",
          "5078",
          "5080",
          "5082",
          "5085",
          "5086",
          "5091",
          "5093",
          "5094",
          "5096",
          "5099",
          "5220",
          "5221",
          "5222",
          "5223",
          "5224",
          "5225"
        ],
[...]
